﻿<style>
    .container {
        margin-left: 20%;
        margin-right: 20%;
    }

    .box {
        background-color: lightgray;
        width: 100%;
        /*height: 50%;*/
    }

    .apiText {
        font-size: 72px;
        padding-top: 10%;
        padding-left: 10%
    }

    .creditText {
        font-size: 40px;
        padding-left: 10%
    }
</style>


<div class="container">
    <div class="box">
        <p class="apiText">Oper Requirement API @typeof(API.Controllers.HomeController).Assembly.GetName().Version</p>
        <p class="creditText">Provider : @@Navyjone  Co., Ltd.</p>
    </div>
</div>


